$font-primary: "Inria Sans", sans-serif;
$font-secondary: "Inter", sans-serif;

$color-background: #191b20;
$color-header-footer: #141517;
$color-text: #ffffff;
$color-accent: #cc0000;
$color-text-muted: #b8b8b8;
